// Variables
// Branding Colors
$brand-dark-color:             #062229 !default;
$brand-petro-color:            #3a5966 !default;
$brand-green-color:            #91c7b0 !default;
$brand-grey-color:             #bcbdc0 !default;